:root {
    --primary-color: #114626;
    --secondary-color: #151873;
    --accent1: #249474;
    --accent2: #3036D9;
}

body {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: normal;
}

h1 h2 {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: normal;
}
